/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2017, 11:04:30 AM
    Author     : ereko
*/


/*******************************
*            NAV
*******************************/
#fixed-header {
    height: 0;
}
nav.container-group{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0px;
    z-index: 999;
    background: rgba(255,69,0,0.6);
}
nav div{
    display: inline-block;
    width: 15%;
    height: 100%;
    float: left;
}
nav.container-group a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3em;
    text-align: center;
    color: white;
    line-height: 10vh;
    
}
div.active a{
    background: rgba(255,255,255, 0.5);
    color: orangered;
}
.nav-logo {
    width: 100%;
    height: auto;
}
.typcn-th-menu {
    color: white;
    width: 10%;
    margin-top: 0;
    text-align: right;
}


/*******************************
*
*   ANIMATED SLIDE CONTENT
*
*******************************/
section.section {
    position: relative;
    overflow: hidden;
}
.section-content{
    position: absolute;
    top: 15vh;
    left: 30vh;
    width: 70%;
    background: rgba(0,0,0,0.5);
    border-radius: 5%;
}
.section-content h1 {
    color: orangered;
    font-size: 5em;
    margin: 0 auto;
    text-align: center;
}
.action {
    text-align: center;
    margin: 20vh auto;
    width: 40%;
    height: 30vh;
    border: 5px solid white;
    border-radius: 50%;
    line-height: 30vh;
    font-size: 4em;
    text-decoration: none;
    transition: all linear .25s;
    color: red;
}
.action:hover {
    background: white;
}
.hover:hover {
    color: red;
}
.action a {
    text-decoration: none;
}

/*******************************
*
* RESPONSIVE BACKGROUND IMAGES
*
*******************************/

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.video-container video {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 120%;
    min-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.video-mask {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 0%;
    min-width: 100%;
    background: rgba(0,0,0,0.5);
}