/****************************************
*
*           CSS     RESET
*
****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***********************************
*
*              GRID
*
***********************************/
/* flex container */
.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/**********************************
* Clear Fix Hack
**********************************/
.container-group:before,
.container-group:after {
    content: "";
    display: table;
}
.container-group:after {
    clear: both;
}
.container-group {
    clear: both;
    *zoom: 1;
}
/**********************************
* Columns
**********************************/
.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*********************************
*
*       Background
*
*********************************/
.gallery { 
  background: url(images/notepad.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
}

/**********************************
*       Floats
**********************************/
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}


/*********************************
        Fonts & Icons
*********************************/
/* Icons */
@font-face {
  font-family: 'typicons';
  src: url("icons/typicons.eot");
  src: url("icons/typicons.eot?#iefix") format('embedded-opentype'),
       url("icons/typicons.woff") format('woff'),
       url("icons/typicons.ttf") format('truetype'),
       url("icons/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Text Fonts */
@font-face {
    font-family: "Oswald-Regular";
    src: url("fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "TitilliumWeb-BoldItalic";
    src: url("fonts/TitilliumWeb-Bolditalic.ttf") format("truetype");
}
@font-face {
    font-family: "TitilliumWeb-LightItalic";
    src: url("fonts/TitilliumWeb-Lightitalic.ttf") format("truetype");
}
h1, h2, h3, h4, h5, h6{
    color: whitesmoke;
    font-family: "Oswald-Regular", arial;
}
p {
    font-family: "TitilliumWeb-Regular";
    color: white;
}
h1 {
    font-size: 2.5em;
}
figcaption {
    font-family: "TitilliumWeb-BoldItalic";
    color: orangered;
    font-size: 150%;
}



/*********************************
*       general styling
*********************************/
.logo {
    width: 90%;
    height: auto;
}
div.floatLeft {
    margin-top: 10vh;
}

/********************************
*
*           Polaroid
*
*********************************/
.polaroid { 
    width:368px; 
    height:376px; 
    background-image:url(images/polaroid-bg.png); 
    position:absolute; 
}
.polaroid img { 
    width:335px; 
    height:275px; 
    margin:25px 0 0 15px; 
}
.polaroid p { 
    text-align:center; 
    font-family:Georgia,serif; 
    font-size:20px; 
    color:#2E2E2E; 
    margin-top:15px; 
}

/*********************************
*
*         Media Queries
*
*********************************/
/* Mobile First 
[class*="col-"]{
    width: 100%;
} */
/* for tablets */
@media screen and (min-width: 600px){
    
}
/* for desktop */
@media screen and (min-width: 768px){}