
/* 
    Created on : Apr 17, 2017, 3:27:07 PM
    Author     : Omiete Erekosima
*/
/****************************************
*
*           CSS     RESET
*
****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***********************************
*
*              GRID
*
***********************************/
/* flex container */
.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: no-display;
    clear: both;
}
/**********************************
* Clear Fix Hack
**********************************/
.container-group:before,
.container-group:after {
    content: "";
    display: table;
}
.container-group:after {
    clear: both;
}
.container-group {
    clear: both;
    *zoom: 1;
}
/**********************************
*       Floats
**********************************/
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
/**********************************
* Columns
**********************************/
.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/********************************
*
*       Background
*
*********************************/
.home { 
  background: url(images/globe1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* end of basic setup */




/*********************************
        Fonts & Icons
*********************************/
/* Icons */
@font-face {
  font-family: 'typicons';
  src: url("icons/typicons.eot");
  src: url("icons/typicons.eot?#iefix") format('embedded-opentype'),
       url("icons/typicons.woff") format('woff'),
       url("icons/typicons.ttf") format('truetype'),
       url("icons/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Text Fonts */
@font-face {
    font-family: "Oswald-Regular";
    src: url("fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "TitilliumWeb-BoldItalic";
    src: url("fonts/TitilliumWeb-Bolditalic.ttf") format("truetype");
}
@font-face {
    font-family: "TitilliumWeb-LightItalic";
    src: url("fonts/TitilliumWeb-Lightitalic.ttf") format("truetype");
}
h1, h2, h3, h4, h5, h6{
    color: whitesmoke;
    font-family: "Oswald-Regular", arial;
}
p {
    font-family: "TitilliumWeb-Regular";
    color: white;
}
h1 {
    font-size: 2.5em;
}
figcaption {
    font-family: "TitilliumWeb-BoldItalic";
    color: orangered;
    font-size: 150%;
}
/* end of fonts and icons */



/*******************************
*
*     General Positioning
*
*******************************/
div.floatLeft {
    margin-top: 10%;
    margin-left: 3%;
}
div.typcn-th-menu {
    font-size: 5em;
    margin-top: 5%;
    transition: all .25s linear;
}
div.typcn-th-menu:hover {
    text-shadow: 0 0 59px rgba(255,255,86,0.7) , 0 0 28px rgba(232,247,29,0.91);
}



/*******************************
*
*       GENERAL STYLING
*
********************************/
html{
    overflow: hidden;
}
article {
    background-color: rgba(0,0,0,0.48);
    border-radius: 5%;
}
figure img {
    width: 100%;
    height: auto;
}
.main-content {
    height: 75vh;
    overflow-x: no-content;
    overflow-y: scroll;
}
header {
    height: 25vh;
}

/* Home Page Panels */
.panels {
    position: relative;
    overflow: hidden;
}
article h1:hover{
    color: yellow;
    text-decoration: underline;
}
.gradient{
  z-index: 100;
  position: absolute;
  top: 90%;
  width: 100%;
  height: 15%;
  border: none;
  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}   
.more {
    z-index: 101;
    background-color: rgba(255,255,255,.5);
    overflow: visible;
    border-radius: 200%/80%;
    position: absolute;
    top: 95%;
    left: 80%;
    transition: all .25s linear;
}
.more:hover {
    background-color: orangered;
}
.more a{
    text-decoration: none;
    color: orangered;
    font-family: "TitilliumWeb-LightItalic";
    transition: all .25s linear;
}
.more a:hover {
    font-size: 150%;
    text-decoration: underline;
    color: whitesmoke;
}
/********************************

          Nav Effect

********************************/
/* setup */
html, body, .perspective {
	width: 100%;
	height: 100%;
}

.perspective {
	background: #aaa;
	position: relative;
}

.cool-container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
	transform: translateZ(0) translateX(0) rotateY(0deg);
}

.cool-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	-webkit-transition: opacity 0.4s, height 0s 0.4s;
	transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
	position: relative;
}

.component {
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .cool-container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .cool-container::after {
	opacity: 1;
	height: 101%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
	font-size: 2em;
}

.outer-nav.vertical {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.outer-nav.left {
	left: 25%;
}

.outer-nav.right {
	right: 25%;
}

.outer-nav.top {
	top: 25%;
}

.outer-nav.bottom {
	bottom: 25%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 300;
	margin: 0 0 30px 0;
	color: #fff;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.outer-nav a:hover {
	color: #ffdccd;
}

.outer-nav.vertical a {
	display: block;
}

.outer-nav.horizontal a {
	margin: 15px 20px;
}

.outer-nav a::before {
	display: inline-block;
	font-family: 'typicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Effect Move Left */
.effect-moveleft {
	background: #f4f3f1;
}

.effect-moveleft .cool-container {
	transition: transform 0.4s;
	transform-origin: 50% 50%;
}

.effect-moveleft .cool-container::after {
	background: rgba(255,255,255,0.6);
}

.effect-moveleft.animate .cool-container {
	transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
}

/* Fallback */
.no-csstransforms3d .effect-moveleft.animate .cool-container {
	left: -75%;
}

/* Navigation */
.effect-moveleft .outer-nav a {
	color: #e86a32;
	opacity: 0;
	transform: translateX(100px) translateZ(-1000px);
	transition: transform 0.4s, opacity 0.4s;
}

.effect-moveleft .outer-nav a:hover {
	color: #333;
}

.effect-moveleft.animate .outer-nav a {
	opacity: 1;
	transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate .outer-nav a:nth-child(2) {
	transition-delay: 0.04s;
}

.effect-moveleft.animate .outer-nav a:nth-child(3) {
	transition-delay: 0.08s;
}

.effect-moveleft.animate .outer-nav a:nth-child(4) {
	transition-delay: 0.12s;
}

.effect-moveleft.animate .outer-nav a:nth-child(5) {
	transition-delay: 0.16s;
}

.effect-moveleft.animate .outer-nav a:nth-child(6) {
	transition-delay: 0.2s;
}

.effect-moveleft.animate .outer-nav a:nth-child(7) {
	transition-delay: 0.24s;
}

nav a{
    text-decoration: none;
    font-family: "Oswald-Regular";
}
/* end of nav effect */






/*********************************
*
*         Media Queries
*
*********************************/
/* Mobile First */
@media screen and (max-width: 599px){
[class*="col-"]{
   /* width: 100%; */
}
.col-3{
   width: 50%;
}
header figure, header h1, header div{
    display: inline-block;
}
.logo {
    width: 100%;
    height: auto;
}
header {
    height: 8vh;
}
.main-content {
    height: 92vh;
}
}
/* end of mobile styles */


/* for tablets */
@media screen and (min-width: 600px){
    .col-3{
        width: 33.333%;
    }
}/* end of tablet media query */


/* for desktop */
@media screen and (min-width: 768px){
    .col-3 {
        width: 20%;
        float: left;
        margin: 1% 2%;
    }
}